<div class="configuracion-container">
  <div class="header-config">
    <h2>Configuración</h2>
    <p>Ajusta las preferencias generales de tu cuenta.</p>
  </div>

  <div class="config-grid">
    <!-- Tarjeta de Seguridad -->
    <section class="tarjeta-config glass-panel">
      <h3>Seguridad de la Cuenta</h3>
      <div class="divider"></div>
      
      <div class="config-item">
        <span>Cambiar Contraseña</span>
        <button class="btn-neo-outline" (click)="cambiarContrasena()">Actualizar</button>
      </div>
    </section>
  </div>
</div>