<div class="app-wrapper">
  
  <header class="app-nav glass-panel">
    <div class="nav-brand">
      <div class="menu-icon" routerLink="/dashboard">
        <div class="hamburger"><span></span><span></span><span></span></div>
      </div>
      <div class="greeting">
        <span class="eyebrow">PANEL PRINCIPAL</span>
        <h1>Hola, {{ nombreUsuario | uppercase }}</h1>
      </div>
    </div>
    
    <div class="nav-actions">
      <button class="btn-outline-dark" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </header>

  <main class="app-content">
    
    <section class="module-scanner glass-panel">
      <div class="scanner-visual">
        <div class="target-frame">
          <div class="corner t-l"></div><div class="corner t-r"></div>
          <div class="corner b-l"></div><div class="corner b-r"></div>
          <div class="scan-laser"></div>
        </div>
      </div>
      
      <div class="scanner-info">
        <h2>Diagnóstico IA</h2>
        <p>Analiza el estado de salud de tus hojas de café o cacao al instante.</p>
        <button class="btn-neo-primary" routerLink="/nuevo-diagnostico">NUEVO DIAGNÓSTICO</button>
      </div>
    </section>

    <section class="module-stats">
      
      <div class="stat-card glass-panel">
        <div class="card-head">
          <h3>Salud de la Semana</h3>
          <button class="btn-icon" routerLink="/historial">→</button>
        </div>
        <div class="card-body">
          <div class="data-row">
            <span class="label">Hojas Enfermas</span>
            <strong class="value text-danger">5</strong>
          </div>
          <div class="divider"></div>
          <div class="data-row">
            <span class="label">Hojas Sanas</span>
            <strong class="value text-success">5</strong>
          </div>
        </div>
      </div>

      <div class="stat-card glass-panel">
        <div class="card-head">
          <h3>Clima Local</h3>
          <button class="btn-icon" routerLink="/reportes">→</button>
        </div>
        <div class="card-body flex-row">
          <div class="data-block">
            <span class="label">Temp</span>
            <strong class="value text-success">21°C</strong>
          </div>
          <div class="vert-divider"></div>
          <div class="data-block">
            <span class="label">Humedad</span>
            <strong class="value text-dark">72%</strong>
          </div>
        </div>
      </div>

    </section>
  </main>
</div>